/*=====================================
=            Color-palette            =
=====================================*/
/*=================================
=           scss Variables            =
=================================*/
/*  02. Global style */
.section-title h2:before {
  background: #58C433;
}

a.read-more {
  border: 1px solid #58C433;
  background: #58C433;
}

a.read-more:hover {
  border: 1px solid #58C433;
}

.scrollup {
  background: #58C433;
}

/*  03. Header */
.mainmenu .navbar-nav li a:hover {
  color: #58C433;
}

.menu-bg .logo a {
  color: #58C433;
}

.menu-bg .mainmenu .navbar-nav li a {
  color: #58C433;
}

a.slide-btn {
  background: #58C433;
  border: 1px solid #58C433;
}

a.slide-btn:hover {
  border: 1px solid #58C433;
}

/*  04. About Us */
/*  05. Services */
.single-service i {
  color: #58C433;
}

/*  06. team */
.team-social ul li a {
  background: #58C433;
  border: 1px solid #58C433;
}

.team-social ul li a:hover {
  border: 1px solid #58C433;
}

/*  07. Call to action */
/*  08. Fun facts */
.complete-project-area {
  background: #58C433;
}

/*  09. Portfolio */
ul.work li:hover {
  color: #58C433;
}

ul.work li.active {
  color: #58C433;
}

.item-overlay {
  background: rgba(88, 196, 51, 0.7);
}

/*  10. Testimonial */
.owl-theme .owl-controls .owl-page span {
  border: 2px solid #58C433;
}

/*  11. Pricing Table */
.pricing-box:hover {
  border: 1px solid #58C433;
}

.pricing-box.price-active {
  border: 1px solid #58C433;
}

.pricing-header .plan-title h4 {
  background-color: #58C433;
}

/*  12. Blog news */
.blog-description {
  background: #58C433;
}

/*  13. Contact Us */
.single-contact-details span {
  color: #58C433;
}

.contact-form input[type='submit'] {
  border: 1px solid #58C433;
  background: #58C433;
}

.contact-form input[type='submit']:hover {
  border: 1px solid #58C433;
}

/*  14. Footer */
.footer-area {
  background: #34731e;
}
@media only screen and (max-width: 767px) {

    .menu-bg .navbar-toggle .icon-bar {
        background: #58C433;
    }
} 