/*
* ----------------------------------------------------------------------------------------
* 04. About Us
* ----------------------------------------------------------------------------------------
*/
.about-us-area {}

.about-image,
.about-video {
    margin-top: 30px;
    padding: 10px;
}

.about-text {
    margin-top: 30px;
}

.about-text h2 {
    margin-bottom: 18px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
}

.about-text h2 span {
    color: $base_white;
}

.about-text p {
    margin-bottom: 10px;
}
