/*=================================
=           scss Variables            =
=================================*/

$base_green: #3498db;
$base_white: #fff;
$base_black1: #000;
$base_black2: #333;
$base_gray: #ECECEC;


